<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script>
document.cookie="h=lo";
document.cookie="hi1=low";
console.log(document.cookie);
</script>

<style>
    table, th , td ,tr {
      border: 1px solid grey;
      border-collapse: collapse;
      padding: 5px;
      text-align: center;
      background-color: white;
     
    }
    .btn {
  background-color:Blue;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}


.btn:hover {
  background-color: RoyalBlue;
}
    
</style>
<button routerLink='../home'>HOME</button>

<div style="text-align: center;">
    <input type="text"  placeholder="Enter Task Title" style="font-size: 20px ;"  #task>
<br>
<br>

<input type="text" style=" height: 70px;width: 300px;font-size: 25px;"  placeholder="Description" #desc>
<br>


<button style="padding: 15px 32px; background-color:azure;" (click)="addTask(task.value,desc.value)">Add</button>
<br>
<!-- <p>Total rows: {{ totalRows }} </p> -->
<button (click)="totalRows()">total</button>
</div>

<br>
<div id="textboxes"></div>
<table  style="border:1px solid black;margin-left:auto;margin-right:auto;">
    
    <th>Title</th>
    <th>Description</th>
    <th>Action</th>
    <th>Details</th>
    
 <tr *ngFor="let item of list,index as i ">
    
        
        
    

<td>
    
    <input style=" height: 50px;width: 250px;font-size: 20px;" type="text"  [(ngModel)]="item.name" [disabled]="!editModeToggle"/>
  </td>
  <td>
    <input style=" height: 50px;width: 250px;font-size: 20px;" type="text" [(ngModel)]="item.description" [disabled]="!editModeToggle"/>
  </td>

<td>
    
    <button class="btn" (click)="removeTask(item.id)"><i class="fa fa-trash"></i></button>
   
         
         
         <div *ngIf="editModeToggle">
         <button class="btn" (click)="saveChanges(item)">Save</button>
       </div>
     
       <div *ngIf="editModeToggle">
         <button class="btn" (click)="cancelEdit(item)">Cancel</button>
       </div>
     
       <div *ngIf="!editModeToggle">
         <button class="btn" (click)="edit(item.name,item.description)"><i class="fa fa-edit"></i></button>
       </div>
     
          
        
</td>
<td>
    <button  (click)="paramPass(item)" >click</button>
</td>
 </tr>
 </table>




